@using TLA.Controllers.Account
@using TLA.Models.Authentication
@using System.Linq;

<!DOCTYPE html>
<html lang="en">

<head>
  <title>@ViewBag.Title</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <base href="~/" />
  <link href="~/Content/vendor.min.css" rel="stylesheet" />
  <link href="~/Content/app.css" rel="stylesheet" />
  <script src="~/Content/vendor.min.js"></script>
  <script src="~/Content/app.js"></script>
  <script>App.Services.Dom.loadAllCss(this.App)</script>
</head>

<body>
  <div class="current-user-login">
    @if (Html.CurrentUser == null)
    {
        <a href="~/@AuthenticationRedirectUrl.Url">log in</a>
    }
    else
    {
        <a href="~/@UserModule.AccountUserUpdate">@(((UserIdentity)Html.CurrentUser).UserName)</a>
        <span>|</span>
      if (((UserIdentity)Html.CurrentUser).Claims.Any(c => c == AdminModule.AdminClaim))
      {
            <a href="~/@AdminModule.AdminDashboardUrl">Admin</a>
            <span>|</span>
      }
        <a href="~/logout">log out</a>
    }
  </div>

  <div id="content">
    @RenderBody()
  </div>
</body>
</html>
